<section
    id="about"
    [ngClass]="mode === 'light' ? 'bg-white' : 'bg-black'"
    class="py-[50px] custom1001:p-[100px] px-[10px]">
    <h2 
        [ngClass]="mode === 'light' ? 'text-[#35684e]' : 'text-[#1667BB]'"
        class="uppercase text-3xl font-sofia font-bold mb-5 text-center">
        About Me
    </h2>
    <p 
        [ngClass]="mode === 'light' ? 'text-black' : 'text-white'"
        class="md:text-start text-center font-poppins">
        This first thing you need to know about me is that I am a Software Developer, who loves building for fun. I am passionate about creating functional applications. I get goosebumps when I see people using my Apps. I see a learning opportunity where people see problem and complexity. Collaborating with other Developers has played an important role in making me a better Developer. Making research on modern technologies and utilizing them in my projects puts me several steps ahead with adequate experience.
       <br><br>
        My technical proficiency spans JavaScript, Python, Java, MongoDB, and PostgreSQL. I'm committed to building Clean, Maintainable and Reuseable code with the use of SOLID principles.
    </p>
</section>