<section
    id="projects"
    [ngClass]="{'bg-white': mode === 'light', 'bg-black': mode === 'dark'}"
    class="px-[100px]">
    <h2 
        [ngClass]="{'text-[#35684e]': mode === 'light', 'text-[#1667BB]': mode === 'dark'}"
        class="uppercase text-3xl font-sofia font-bold mb-7 text-center">
        Projects
    </h2>
    <div class="flex flex-wrap gap-5 justify-center font-poppins">
        @for (project of projects; track $index) {
            <div
                [ngClass]="{
                    'hover:border-[#35684e]': mode === 'light',
                    'hover:border-[#1667BB]': mode === 'dark',
                    'border-black': mode === 'light',
                    'border-gray-500': mode === 'dark'
                }" 
                class="flex flex-col justify-between md:justify-start border h-max md:h-[600px] w-[450px] rounded-lg p-5  hover:border-[2px]">
                <div class="mb-10">
                    <a [href]="project.url" target="_blank">
                        <img
                            [ngClass]="{'border-[rgba(0,0,0,0.3)]': mode === 'light', 'border-gray-500': mode === 'dark'}"
                            class="rounded-lg border h-[200px] w-[100%]" [src]="project.image" alt="Project Image">
                    </a>
                </div>
                <div class="mb-6">
                    <span
                        [ngClass]="{'text-black': mode === 'light', 'text-white': mode === 'dark'}"
                        class="uppercase font-bold">
                        {{ project.name }}
                    </span>
                </div>
                <div
                    [ngClass]="{'text-[#35684e]': mode === 'light', 'text-[#1667BB]': mode === 'dark'}"
                    class="flex gap-2 text-xs font-semibold mb-2">
                    @for (techStack of project.techStacks; track $index) {
                        <span
                            [ngClass]="{'bg-[#35684e]/20': mode === 'light', 'bg-[#1667BB]/20': mode === 'dark'}" 
                            class="p-1 rounded-md">
                            {{ techStack }}
                        </span>
                    }
                </div>
                <div class="mb-20 sm:mb-5 h-[150px]">
                    <p [ngClass]="{'text-black/70': mode === 'light', 'text-white': mode === 'dark'}">
                        {{ project.description }}
                    </p>
                </div>
                <div class="flex justify-between px-5 gap-5">
                    <a [href]="project.url" target="_blank">
                    <button
                        [ngClass]="{
                            'border-[#35684e] text-[#35684e]': mode === 'light',
                            'border-[#1667BB] text-[#1667BB]': mode === 'dark',
                        }"
                        class="border h-11 w-[95px] rounded-lg">
                            Visit
                        </button>
                    </a>
                    <a [href]="project.gitHub" target="_blank">
                        <button
                             [ngClass]="{
                            'border-[#35684e] bg-[#35684e]': mode === 'light',
                            'border-[#1667BB] bg-[#1667BB]': mode === 'dark',
                            }" 
                            class="border h-11 w-[100px] rounded-lg text-white">
                            Github
                        </button>
                    </a>
                </div>
        </div>
        }
    </div>
</section>